

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #93ffd2;
}

.container {
    width: 100%; /* Ocupar toda a largura da tela */
    max-width: 1000px; /* Definir largura máxima opcional */
    margin: 0 auto; /* Centralizar na tela */
    text-align: left; /* Alinhar o texto à esquerda */
    padding: 20px; /* Adicionar espaçamento interno */
    box-sizing: border-box; /* Incluir padding no cálculo de largura */
}

h1 {
    color: #501700; /* Cor verde */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 18px;
    color: #320038; /* Cor preta */
    display: flex; /* Usar flexbox para alinhar imagem e texto */
    align-items: center; /* Alinhar verticalmente */
}

li img {
    width: 30px; /* Tamanho da imagem */
    height: auto; /* Altura automática */
    margin-right: 10px; /* Espaçamento entre imagem e texto */
}
